#resultsContainer {
	display: none;

	img {
		height: 3em;
	}

	ol {
		font-size: 1.15em;
		list-style: none;
		padding-left: 0;
		line-height: 1.5em;
	}
	h3 {
		margin-top: 0;
		font-weight: bold;
		color: #23527c;
	}

}